//COLORS
$color-white: rgb(255,255,255);
$color-primary-light1:rgba(79, 229, 255, 0.281);
$color-primary-light: rgba(255, 255, 255, 0.808);
$color-primary-dark: #000;
$color-primary-dark2: rgba(0, 0, 0, 0.849);

$color-secondary: rgba(52, 235, 15, 0.808);
$color-secondary2:  #f31717fb;
$color-secondary-light: #299;
$color-secondary-dark: orange;

$color-tertiary-dark: rgba(12, 8, 36, 0.884);
$color-tertiary-light: rgba(35, 72, 219, 0.904);

$color-grey-light-1: hsl(0, 0%, 97%);
$color-grey-light-2: #eee;

$color-dark-gray1: #999;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 7rem;

//FONT-SIZES
$default-font-size:1.6rem;

//BORDER-RADIUS
$border-radius: 3px;